# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store  
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
REACT_APP_CLOUD_NAME = your_cloud_name
REACT_APP_UPLOAD_PRESET = your_upload_preset
